body {
    background-image: url("hello.jpg");
    background-size: cover;
    background-repeat: repeat-y;
  }
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #3e8e41;
}
.button-buttonmain{
    /*write its place at the left corner*/
    position: absolute;
    top: 5px;
    left: 5px;
}
/*write a sub button at the left corner*/
.button-buttonsub{
    position: absolute;
    top: 5px;
    left: 150px;
}
/*write a sub button at the left corner*/
.button-buttonsub2{
    position: absolute;
    top: 5px;
    left: 320px;
}
/*write a sub button at the left corner*/
.button-buttonsub3{
    position: absolute;
    top: 5px;
    left: 460px;
}
/*write a sub button at the left corner*/
.button-buttonsub4{
    position: absolute;
    top: 5px;
    left: 660px;
}
/*write a sub button at the left corner*/
.button-buttonsub5{
    position: absolute;
    top: 5px;
    left: 830px;
}
.button-buttonsub6{
    position: absolute;
    /*on the second row*/
    top: 70px;
    left: 5px;
}
.button-buttonsub7{
    position: absolute;
    /*on the second row*/
    top: 70px;
    left: 150px;
}
.button-buttonsub8{
    position: absolute;
    /*on the second row*/
    top: 970px;
    left: 320px;
}
/*get the form in the centre place*/
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
/*make the input look better*/
.input{
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    background-size: 400%;
    font-family: "montserrat";
    animation: bganimation 15s infinite;
}
.btn {
    display: block;
    /* background-color: rgba(156, 39, 176, .5); */
    padding: 14px 0;
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}
.menu {
    width: 2300px;
    height: 50px;
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 50px 0 0 50px;
    position: relative;
}

.menu .item {
    float: left;
    height: 42px;
    width: 80px;
    /* border: 1px solid red; */
    color: #fff;
    font-size: 14px;
    line-height: 42px;
    padding-left: 40px;
    cursor: pointer;
}

.menu .item:hover {
    background-color: #ff6700;
    background-image: url('images/right-jiantou2.png');
}

/* 右侧二级菜单 */
.menu .item .subitem {
    min-width: 250px;
    height: 460px;
    background-color: #fff;
    border: 1px solid #666;
    position: absolute;
    top: 0;
    left: 100%;
    box-sizing: border-box;
    /* 六行单元格平分整个区域 */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 250px;
    /* 排列方式设置为先列后行 */
    grid-auto-flow: column;
    /* 设置隐式网格宽度 */
    grid-auto-columns: 250px;
    padding: 20px;
    /* 初始默认隐藏 */
    display: none;
}
a {
    text-decoration: none;
}
.item .subitem a {
    /* border: 1px solid red; */
    color: #000;
    display: flex;
    /* 垂直方向居中对齐,防止随父元素高度而被拉伸 */
    align-items: center;
}

.item .subitem a img {
    margin-right: 10px;
}

.item .subitem a:hover {
    color: #ff6700;
}

.item:hover .subitem {
    display: grid;
}